<h1>Library</h1>
<div class="library">
  {{#if tracklist.length}}
    <h3>
      You have
      <span class="lib-count"><b>{{tracklist.length}}</b></span>
      songs in your library.
      <a href="/settings/library/delete">
        <button title="delete all" class="trash-button"><img
            src="../images/trash.png"
            alt="remove"
          /></button>
      </a>
    </h3>
    <table class='lib-table'>
      <thead>
        <tr>
          <th>Artwork</th>
          <th>Artist</th>
          <th>Title</th>
          <th>Length</th>
          <th>Album</th>
          <th>Year</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each tracklist}}
          <tr class="track-row">
            <td>
              {{#if trackId.img}}
                <img
                  class="library-artwork"
                  src="{{trackId.img}}"
                  alt="{{trackId.album}}"
                />
              {{else}}
                <img
                  class="library-artwork"
                  src="../images/default-artwork.png"
                  alt="default artwork"
                />
              {{/if}}
            </td>
            <td>{{trackId.artist}}</td>
            <td>{{trackId.title}}</td>
            <td>{{trackId.duration}}</td>
            <td>{{trackId.album}}</td>
            <td>{{trackId.year}}</td>
            <td></td>
            <td><button data-id="{{this._id}}" class="trash-button"><img
                  data-id="{{this._id}}"
                  src="../images/trash.png"
                  alt="remove"
                /></button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>No tracks in library yet, try
      <a href="/settings/import">importing some...</a></p>
  {{/if}}

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.js" integrity="sha512-MNW6IbpNuZZ2VH9ngFhzh6cUt8L/0rSVa60F8L22K1H72ro4Ki3M/816eSDLnhICu7vwH/+/yb8oB3BtBLhMsA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../js/library.js"></script>
