<h1>Settings</h1>
<div class="library">
  {{#if tracklist.length}}
    <ul>
      {{#each tracklist}}
        <li>
          {{trackId.artist}} |
          {{trackId.title}} |
          {{trackId.length}}
          [
          {{#each trackId.genre}}
            {{this}}
          {{/each}}]
      <button>
        remove
      </button>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No tracks in library yet, try
      <a href="/settings/import">importing some...</a></p>
  {{/if}}

</div>
