<h1>Settings</h1>
<div class="library">
  <p>My library here</p>

  {{#if tracklist.length}}
    <ul>
      {{#each tracklist.trackId}}
        <li>
          {{_id}}
          {{artist}}
          {{title}}
          {{length}}
          {{#each genr}}
            {{this}}
          {{/each}}
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No tracks in library yet, try
      <a href="/settings/import">importing some...</a></p>
  {{/if}}

</div>
