<section class="all-groups section">
  <div class="groups-header">
    {{#if allMygroups}}
    <h1>You are part of {{allMygroups.length}} groups</h1>
    {{else}}
    <p> There are {{users.length}} users, make groups to share and enjoy music</p>

    {{/if}}
    <div class="create-group">

    <a href="/groups/create" class="btn">CREATE A NEW GROUP</a>
    </div>

  </div>
  <div class="container">
    <div class="left my-groups column">
      <table class="table table-hover myGroups" id="myGroups">
        <thead>
          <tr>
            <th colspan="3">MY GROUPS</th>

          </tr>
          <tr>
            <th scope="col">Group Owner</th>
            <th scope="col">Group Name</th>
            <th scope="col">Match</th>
          </tr>
        </thead>
        <tbody>
          {{#if myOwnGroups}}
            {{#each myOwnGroups}}
              <tr class="" data-groupId="{{this._id}}">
                <div class="">
                  <td><picture><img
                        src="{{owner.avatarUrl}}"
                        alt="{{owner.username}}'s avatar..."
                        id="{{this._id}}"
                      /></picture></td>
                  <th id="{{this._id}}">{{name}}</th>
                  <td id="{{this._id}}">{{match}} songs</td>
                </div>
              </tr>
            {{/each}}
          {{/if}}
          {{#if myOtherGroups}}
            {{#each myOtherGroups}}
              <tr class="table-active" data-groupId="{{this._id}}">
                <div class="table-active">

                  <td><picture><img
                        src="{{owner.avatarUrl}}"
                        alt="{{owner.userName}}'s avatar"
                        id="{{this._id}}"
                      /></picture></td>
                  <th id="{{this._id}}">{{name}}</th>
                  <td id="{{this._id}}">{{match}}</td>
                </div>
              </tr>
            {{/each}}
          {{/if}}

        </tbody>
      </table>
    </div>
    <!-- colonne de gauche -->

    <!-- SEPARATEUR COLONNE -->
      <div class = "vertical-gradient-all-groups"></div>


    <div class="all-users right column">
      <table class="table table-hover">
        <thead>
          <tr>
            <th colspan="3">ALL USERS ({{users.length}})</th>

          </tr>
          <tr>
            <th scope="col">Avatar</th>
            <th scope="col">User name</th>
            <th scope="col">Match</th>
          </tr>
        </thead>
        <tbody>
          {{#each users}}
            <tr class="">
              <td><picture><img
                    src="{{avatarUrl}}"
                    alt="{{username}}'s avatar"
                  /></picture></td>
              <th scope="row">{{username}}</th>
              <td>{{match.numOfMatches}}/{{match.numOfuserBTracks}}</td>
            </tr>
          {{/each}}

        </tbody>
      </table>

    </div>
    <!-- colonne de droite -->
  </div>
  <!-- fin container -->

</section>

<script src="../js/allGroupsClickEvent.js"></script>
